@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Avenir Regular", sans-serif;
}
.disable_scroll {
  overflow-y: hidden !important;
}

@font-face {
  font-family: "Trajan";
  src: url("../public/fonts/TrajanPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TrajanRegular";
  src: url("/fonts/TrajanPro-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Regular";
  src: url("/fonts/Avenir Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Medium";
  src: url("/fonts/Avenir Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/Avenir Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.hero-container {
  background-image: url("/images/hero-image2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 125vh;
  height: 100%;
  object-fit: contain;
}
.mission {
  background-image: url("/images/mission.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.vision {
  background-image: url("/images/vision.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* @media only screen and (min-width: 768px) and (max-width: 1441px) {
  .hero-container {
    min-height: 100vh;
  }
} */
@media only screen and (max-width: 768px) {
  .hero-container {
    min-height: 150vh;
  }
}

.keen-slider:not([data-keen-slider-disabled]),
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  overflow-y: visible !important;
}
