@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Avenir Regular', sans-serif;
}

@font-face {
  font-family: 'Trajan';
  src: url('../public/fonts/TrajanPro-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanRegular';
  src: url('/fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Regular';
  src: url('/fonts/Avenir Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('/fonts/Avenir Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black';
  src: url('/fonts/Avenir Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.hero-container{
  background-image: url('/images/hero-image.png');
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position:right bottom;
  min-height: 125svh ;
  height: 100%;
}