@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Avenir Regular", sans-serif;
}
.disable_scroll {
  overflow-y: hidden !important;
}

@font-face {
  font-family: "Trajan";
  src: url("../public/fonts/TrajanPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TrajanRegular";
  src: url("/fonts/TrajanPro-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Regular";
  src: url("/fonts/Avenir Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Medium";
  src: url("/fonts/Avenir Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/Avenir Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.why_us_cta {
  background-image: url("/images/why-us-cta.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
/* .mission {
  max-height: 738px;
  background: linear-gradient(180deg, #f0fff7 0%, #edffd1 123.31%),
    url("/images/mission.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
} */

.mission,
.vision {
  position: relative;
  height: 100%;
}

.mission::before,
.vision::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}
.mission::before {
  background-image: url("/images/mission.svg"),
    linear-gradient(180deg, #f0fff7 0%, #edffd1 123.31%);
}
.vision::before {
  background-image: url("/images/vision.svg"),
    linear-gradient(180deg, #f0fff7 0%, #d2fffa 100%);
}

@media (min-width: 2000px) {
  .vision,
  .mission {
    /* max-height: 850px; */
    height: 100%;
  }
}

.keen-slider:not([data-keen-slider-disabled]),
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  overflow-y: visible !important;
}
video {
  object-fit: cover;
}
.cta_clip {
  clip-path: polygon(37% 0, 100% 0%, 100% 100%, 0% 100%);
}

/* Pagination */
.pagination-container {
  display: flex;
  list-style-type: none;
}
.pagination-item {
  padding: 0 12px;
  height: 34px;
  text-align: center;
  margin: auto 6px;
  color: #4d4d4d;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  line-height: 1.43;
  font-size: 14px;
  min-width: 34px;
}
.pagination-item .dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-item:hover {
  background-color: #006633;
  color: #fff;
  cursor: pointer;
}

.pagination-item.selected {
  background-color: #006633;
  color: #fff;
}

.pagination-item.disabled {
  pointer-events: none;
  color: #cccccc;
}

.pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}

.blog-image {
  background: url("/images/blog-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.single-blog-image {
  /* background: url("/images/blog-hero.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact-image {
  background: url("/images/contact-hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.blog p {
  margin: 1.2rem 0;
  line-height: 32px;
}
.blog ol {
  margin: 1.2rem 0;
  line-height: 40px;
}
.blog ol li {
  margin: 1.2rem 0;
}
.blog strong {
  display: block;
  font-weight: bold;
  font-family: "Avenir Black";
}
.blog .inline-text {
  display: inline !important;
}
.blog h3 {
  font-size: 22px;
  font-weight: 600;
  font-family: "Avenir Heavy";
  margin: 2rem 0;
}
.blog h2 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Avenir Heavy";
  margin: 2rem 0;
}
.blog div {
  margin: 2rem 0;
}
.blog div p {
  margin: 0.8rem 0;
}
.blog table,
.blog table th,
.blog table td {
  border: 1px solid black;
  text-align: left;
  padding: 0.5rem 1rem;
}
.blog table th {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Avenir Heavy";
}
.blog .table-wrapper {
  width: 100%;
  overflow: auto;
}
.blog table {
  width: 100%;
  font-size: 0.9rem;
  line-height: normal;
  color: #333;
}
@media (max-width: 768px) {
  .blog div {
    margin: 1rem 0;
  }
  .blog .table-wrapper table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .blog h2 {
    font-size: 22px;
  }
}
.blog table p {
  margin: 0.5rem 0;
  line-height: normal;
}
.blog table .text-medium {
  font-weight: 700;
  font-family: "Avenir Heavy";
}
.blog table .inline-text {
  text-decoration: underline;
  font-weight: 700;
  font-family: "Avenir Heavy";
}
.blog .table-caption {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #333;
}
.blog ol {
  list-style: decimal;
  margin-left: 1.2rem;
}
.blog ul {
  list-style: disc;
  margin-left: 1.4rem;
}
.blog ul li {
  margin: 0.5rem 0;
}

.service_image {
  position: absolute;
  height: 400px;
  margin-top: 28%;
  border-radius: 8px;
}

@media (min-width: 2001px) {
  .service_image {
    margin-top: 15%;
  }
}

@media (min-width: 1536px) and (max-width: 2000px) {
  .service_image {
    margin-top: 20%;
  }
}

@media (min-width: 1321px) and (max-width: 1439px) {
  .service_image {
    margin-top: 33%;
  }
}

@media (min-width: 1025px) and (max-width: 1320px) {
  .service_image {
    margin-top: 35%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .service_image {
    margin-top: 40%;
  }
}

@media (min-width: 640px) and (max-width: 800px) {
  .service_image {
    margin-top: 40%;
  }
}

@media (max-width: 640px) {
  .service_image {
    margin-top: 2px;
    position: relative;
    height: 100%;
    border-radius: 0%;
  }
}
